:root {
    font-size: 6.25%;
    overflow-y: overlay;
    overflow-x: hidden;
    --w-black: #252525;
    --w-gray: #696969;
    --w-red: #f23535;
    --w-orange: #ff9900;
    --w-green: #2fcc5b;
    --w-background: #ffffff;
    --w-white: #f5f5f5;
    --w-blue: #0094ff;
    --w-graywhite: #d8d8d8;
}

::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}

input::-webkit-input-placeholder {
    font-family: 'Noto Sans KR';
    font-weight: 400;
}

input:-ms-input-placeholder {
    font-family: 'Noto Sans KR';
    font-weight: 400;
}

input:-moz-placeholder {
    font-family: 'Noto Sans KR';
    font-weight: 400;
}

input::-moz-placeholder {
    font-family: 'Noto Sans KR';
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

.fr {
    display: flex;
    flex-direction: row;
}

.fc {
    display: flex;
    flex-direction: column;
}

.fcenter {
    justify-content: center;
}

.fleft {
    justify-content: left;
}

.fright {
    justify-content: right;
}

.fsbetween {
    justify-content: space-between;
}

.fsevenly {
    justify-content: space-evenly;
}

.no-drag {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.no-underline {
    text-decoration: none;
}
